---
const params = Astro.props;
---

<div
  id="card"
  class=""
>
  <div
    id="card-header"
    class=""
  >
    <h3>{params.position}</h3>
  </div>
  <div
    id="card-body"
    class=""
  >
    <div class="w-fit">
      <img
        src={import.meta.env.PUBLIC_URL + params.avatar.url}
        alt="some"
        width="200"
        height="200"
        class="rounded-full"
      />
    </div>

    <div class="">
      <div class="">
        <p>{params.surname}</p>
        <p>{params.name}</p>
        <p>{params.patronymic}</p>
      </div>

      <div class="">
        <p>{params.phone}</p>
        <p>{params.email}</p>
      </div>
    </div>
  </div>
  <div
    id="footer"
    class=""
  >
    <a class="" href={`/management/person-${params.id}`}>Перейти в профиль</a>
  </div>
</div>
